In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_excel("Exampe.xlsx")
df

   Area  Bedroms  Age   Tax  Price($)
0  1000        2    7   559     10000
1  1300        3   10   700     12000
2   800        2    1   200      9500
3  1300        3    2   400     15000
4  1100        3   10  1000     10000

In [3]:
X = df.drop("Price($)",axis = 1)
y = df["Price($)"]
y

0    10000
1    12000
2     9500
3    15000
4    10000
Name: Price($), dtype: int64

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [5]:
knn = KNeighborsRegressor(n_neighbors=3)

In [6]:
knn.fit(X_train,y_train)

In [8]:
y_pred = knn.predict(X_test)

print(y_pred,y_test)

[11666.66666667] 1    12000
Name: Price($), dtype: int64

In [13]:
X_new = pd.DataFrame([[800,2,5,700]], columns=['Area','Bedroms','Age','Tax'] )
X_new

   Area  Bedroms  Age  Tax
0   800        2    5  700

In [14]:
ans = knn.predict(X_new)
ans

array([9833.33333333])