In [1]:
import pandas as pd

In [3]:
df =pd.DataFrame({
    'ID' : [23,51,56,27,37],
    'Sal' : [86,45,83,59,93],
    'tax' : [2,5,8,2,5]})

In [4]:
df

   ID  Sal  tax
0  23   86    2
1  51   45    5
2  56   83    8
3  27   59    2
4  37   93    5

In [5]:
df.describe()

              ID        Sal      tax
count   5.000000   5.000000  5.00000
mean   38.800000  73.200000  4.40000
std    14.463748  20.302709  2.50998
min    23.000000  45.000000  2.00000
25%    27.000000  59.000000  2.00000
50%    37.000000  83.000000  5.00000
75%    51.000000  86.000000  5.00000
max    56.000000  93.000000  8.00000