In [1]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
})

# Select a single column
df['A']

# Select multiple columns
df[['A', 'B']]

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [9]:
# Select rows by index
# df.iloc[0]  # First row
# df.iloc[0:3]  # Second and third rows. excluded second parameter

df.loc[0]  # First row
df.loc[0:2]  # First to third rows. included second parameter

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11

In [15]:
#Filtering Data :
# Filter rows where column A is greater than 2
df[df['A'] > 2]

# Filter rows where column B is equal to 6
df.loc[df['B'] == 6, ['A', 'B']]

   A  B
1  2  6

In [16]:
# Sorting Data
# Sort by column A
df.sort_values(by='A')

# Sort by multiple columns
df.sort_values(by=['A', 'B'], ascending=[True, False])

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [ ]:
# Handling Missing Data

# Detecting missing data
df.isnull()
df.notnull()



# Dropping missing data

# Drop rows with any missing values
df.dropna()

# Drop columns with any missing values
df.dropna(axis=1)



# Filling missing data:

# Fill missing values with a specified value
df.fillna(0)

# Fill missing values with the mean of the column
df.fillna(df.mean())